
  <div class="contenedor" >
    <mat-card class="container" >
      <div class="imgcontainer">
        <img src="../../../assets/login.png" alt="Avatar" class="avatar" max-width="104" >
      </div>
      <div mat-card-avatar class="example-header-image"></div>
      <form class="example-form">
      <br>
        <mat-form-field style="width: 40%; margin-right: 10%;" >
            <mat-label  style="color: #306881;" >Nombre</mat-label>
            <input  style="color: black;" matInput type="email" [(ngModel)]="usuario.nombre" name="nombre">
          </mat-form-field>
          <mat-form-field style="width: 40%;" >
            <mat-label  style="color: #306881; margin-right: 0rem;" >Apellido</mat-label>
            <input  style="color: black;" matInput type="email" [(ngModel)]="usuario.apellido" name="apellido">
          </mat-form-field>
          <mat-form-field style="width: 40%; margin-right: 10%;">
            <mat-label  style="color: #306881;" >Dni</mat-label>
            <input  style="color: black;" matInput type="number" [(ngModel)]="usuario.dni" name="dni">
          </mat-form-field>
        <mat-form-field style="width: 40%;" >
          <mat-label  style="color: #306881;" >Email</mat-label>
          <input  style="color: black;" matInput type="email" [(ngModel)]="usuario.email" name="email">
        </mat-form-field>
      
        <mat-form-field style="width: 40%;margin-right: 10%;" class="full-width-input">
          <mat-label style="color: #306881;">Seleccione una Especialidad</mat-label>
          <mat-select [(ngModel)]="turno.especialidad" name="tipo"> 
              
            <mat-option (click)="cargarProfesionales()"  *ngFor="let item of especialidades"  [value]="item.name">{{item.name}}</mat-option>
            
            
          </mat-select>
      </mat-form-field>

      <mat-form-field style="width: 40%; " class="full-width-input">
          <mat-label style="color: #306881;">Seleccione un Profesional</mat-label>
          <mat-select  [disabled]="turno.especialidad == undefined" [(ngModel)]="turno.profesional" name="profesional"> 
              
            <mat-option *ngFor="let item of prefesionales"  [value]="item"> <p>{{item.apellido}}</p> <p *ngIf="item.apellido == undefined">{{prefesionales[0]}}</p></mat-option>
            
            
          </mat-select>
      </mat-form-field>

        <mat-form-field style="width: 40%; margin-right: 10%;"  >
          <mat-label  style="color: #306881;">Fecha</mat-label>
          <input [disabled]="turno.profesional.nombre == 'a' || turno.profesional.nombre == undefined" (change)="cargarHora()" style="color: black;" matInput type="date" [(ngModel)]="turno.fecha" name="psw">
        </mat-form-field>
        <mat-form-field style="width: 40%; " class="full-width-input">
          <mat-label style="color: #306881;">Seleccione una Hora</mat-label>
          <mat-select  [disabled]="horas.length < 1" [(ngModel)]="turno.hora" name="horas">     
            <mat-option *ngFor="let item of horas"  [value]="item">{{item}}</mat-option> 
          </mat-select>
        </mat-form-field>
        <br>
        <button style="margin-top: 2rem;" class="btn btn-block"   mat-raised-button color="primary"  (click)="Entrar()">Solicitar Turno</button>
      
      </form>
    
    </mat-card>
  
  </div>