
mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}
.container {
    margin-top: 5rem;
    display: flex;
    z-index:999;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 1rem;
    background-color: white;
    -webkit-box-shadow: -2px 7px 29px 6px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 7px 29px 6px rgba(0,0,0,0.75);
box-shadow: -2px 7px 29px 6px rgba(0,0,0,0.75);
}
.contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    background-image:url('../../../assets/fondo.jpg');
}
form{
    padding: 1rem;
}

.imgRedonda {
    width:7em;
    height:7em;
    border-radius:160px;
    border:10px solid #666;
    margin-right: 10px;
}