
<div class="contenedor">
  <mat-card class="container">
    <mat-horizontal-stepper [linear]="true" style="margin-top: 5%;margin-bottom: 15%;" #stepper>
      <mat-step>
          <ng-template matStepLabel>Seleccione Especialidad</ng-template>
          <app-lista-especialidades (enventoEspecialidad)="tomarEspecialidad($event,stepper)"></app-lista-especialidades>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel [disabled]="!turno.especialidad">Selecciona un profesional</ng-template>
          <app-lista-profesionales *ngIf="turno.especialidad" [especialidad]="turno.especialidad" [listado]="profesionales" (enventoProfesional)="tomarProfesional($event,stepper)"></app-lista-profesionales>     
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Selecciona Fecha y Hora</ng-template>
      <app-lista-fecha-hora *ngIf="turnosDisponibles" [profesional]="turno.profesional.apellido" [listado]="turnosDisponibles" (enventoFecha)="tomarFechaHora($event,stepper)" ></app-lista-fecha-hora>
      </mat-step> 
      <mat-step>
        <ng-template matStepLabel>Verificación de Datos</ng-template>
        <div class="verif">
          <div class="cont">
            <label style="color: #306881;" for=""><strong>Especialidad</strong> </label>
            {{turno.especialidad}}
            <label style="color: #306881;" for=""><strong>Profesional</strong> </label>
            {{turno.profesional.nombre}} {{turno.profesional.apellido}}
            <label style="color: #306881;" for=""><strong>Fecha</strong> </label>
            {{this.turno.fecha | fecha}}
            <label style="color: #306881;" for=""><strong>Hora</strong> </label>
            {{this.turno.hora}} HS
              <button style="background-color:  #306881; width: 80%; color: white;" mat-button (click)="Entrar()">Confirmar</button>
          </div>
        </div>
        <div>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>