
<!-- <app-lista-especialidades></app-lista-especialidades> -->
<div class="contenedor">
  <mat-card class="container">
    <mat-horizontal-stepper [linear]="true" style="margin-top: 5%;margin-bottom: 15%;" #stepper>
      <mat-step >
          <ng-template matStepLabel>Seleccione Especialidad</ng-template>
          <app-lista-especialidades (enventoEspecialidad)="tomarEspecialidad($event)"></app-lista-especialidades>
             
          <mat-form-field>
                <mat-label style="color: #306881;">Especialidad</mat-label>
                <input [disabled]="true" [(ngModel)]="turno.especialidad" matInput placeholder="especialidad">
          </mat-form-field>
  
          <div>
            <button [disabled]="!turno.especialidad" (click)="cargarProfesionales(turno.especialidad)" mat-button matStepperNext>Next</button>
          </div>
       
      </mat-step>
      <mat-step  >
        <ng-template matStepLabel [disabled]="!turno.especialidad">Selecciona un profesional</ng-template>
       
          <app-lista-profesionales *ngIf="turno.especialidad" [especialidad]="turno.especialidad" [listado]="profesionales" (enventoProfesional)="tomarProfesional($event)"></app-lista-profesionales>
          
  
          <mat-form-field>
            <mat-label style="color: #306881;">Profesional</mat-label>
            <input [disabled]="true"   [(ngModel)]="turno.profesional.nombre" matInput type="text"  placeholder="profesional"
                    >
                  
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button [disabled]="!turno.profesional.nombre" mat-button matStepperNext>Next</button>
          </div>
        
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Selecciona Fecha y Hora</ng-template>
      <app-lista-fecha-hora *ngIf="turnosDisponibles" [profesional]="turno.profesional.apellido" [listado]="turnosDisponibles" (enventoFecha)="tomarFechaHora($event)" ></app-lista-fecha-hora>
      <mat-form-field>
        <mat-label style="color: #306881;">Fecha</mat-label>
        <input [disabled]="true" [(ngModel)]="turno.fecha" matInput type="text"  placeholder="Fecha"
               required >
              
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label style="color: #306881;">Hora</mat-label>
        <input [disabled]="true" [(ngModel)]="turno.hora" matInput type="text"  placeholder="hora"
               required >
              
      </mat-form-field>
      
      <div>
          <button mat-button matStepperPrevious>Back</button>
          <button [disabled]="!turno.fecha" mat-button matStepperNext>Next</button>
        </div>
      </mat-step> 
      <mat-step>
        <ng-template matStepLabel>Verificación de Datos</ng-template>
        
        <div class="verif">
            
          <div class="cont">
            <label style="color: #306881;" for=""><strong>Especialidad</strong> </label>
            {{turno.especialidad}}
            <label style="color: #306881;" for=""><strong>Profesional</strong> </label>
            {{turno.profesional.nombre}} {{turno.profesional.apellido}}
            <label style="color: #306881;" for=""><strong>Fecha</strong> </label>
            {{this.turno.fecha | fecha}}
            <label style="color: #306881;" for=""><strong>Hora</strong> </label>
            {{this.turno.hora}} HS
  
               <button style="background-color:  #306881; width: 80%; color: white;" mat-button (click)="Entrar()">Confirmar</button>
          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>