<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>
<div class="box">
    <mat-toolbar style="background-color: #306881; color: white;" class="expanded-toolbar">
        <img style="height: 3rem; width: 2rem; border-radius: 100%; margin-right: 2rem;" src="../../../assets/login.png" alt="">
            <div>
                Bienvenidos
            </div>
            <div class="push">
                <button mat-raised-button color="" (click)="login()">Login</button>
            </div>
            <div  style="margin-left: 1vw;">
                <button mat-raised-button color="primary" (click)="register()">Register</button>
            </div>
    </mat-toolbar>
</div>
<div class="contenedor">
        <h1>Bienvenidos,</h1>
        <br>
        <h3>A la nueva clinica OnLine!</h3>
</div>