* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-size: 16px;
}
.contenedor{
  font-family: 'Quicksand', sans-serif;
  width: 90%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

/* Header */



header{
 background-image: url("../../../assets/fondoHome.png");
  background-repeat: no-repeat;
  background-position: center;
  max-height: 400px;
  width: 100%;
}

header .menu{
  margin: 2rem 0rem;
  text-align: right;
}
header .menu a{
  margin:0rem 2rem;
  color:white;
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  text-decoration:none;
  border-bottom: 2px solid transparent;
  padding-bottom: 9px;
  font-size: 100px;
}
header .menu a:hover{
  border-bottom: 2px solid  rgba(1, 184, 240, 0.87);
  
}
header .contenedor_texto{
  display: flex;
  margin: 190px 0px;
  justify-content: center;
  align-content: center;
  

}
header .contenedor_texto .texto{

  padding: 1rem;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
}
header .contenedor_texto .texto .h1,
header .contenedor_texto .texto .h2{
  color: white;
  font-weight: 300;
  font-family: 'Quicksand', sans-serif;
  margin: 0px;
}

header .contenedor_texto .texto .nombre{
  margin-bottom: 10px;
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
  line-height: 50px;
  color: white;
}

header .contenedor_texto .texto .profesion{
  color: white;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  line-height: 25px;


}
/* MAIN */
/* Acerca de*/

.fila{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
}
.turnos{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;
    width: 20rem;
    height: 20rem;
    color: black;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 400;
  color: #306881;
  text-align: center;
  -webkit-box-shadow: 2px 11px 23px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 11px 23px -5px rgba(0,0,0,0.75);
box-shadow: 2px 11px 23px -5px rgba(0,0,0,0.75);
transition: all 0.2s ease-in-out;
font-family: 'Quicksand', sans-serif;
}
.turnos:hover{
  -webkit-box-shadow: #306881;
  -moz-box-shadow: #306881;
  box-shadow: #306881;
  transform: translateY(-5px);
}
.main .contenedor{
  overflow: visible;
}
.main .acerca_de{
  text-align: center;
}

.main .acerca_de .foto{
  margin-top: -60px;
}
.main .acerca_de .foto .img{
  vertical-align: top;
  border-radius: 50%;
 /* border: 5px solid rgba(0, 169, 221, 0.2);*/
 -webkit-box-shadow: 7px 7px 50px -7px rgba(12,98,156,1);
 -moz-box-shadow: 7px 7px 50px -7px rgba(12,98,156,1);
 box-shadow: 7px 7px 50px -7px rgba(12,98,156,1);
}

.main .acerca_de .texto{
   font-weight: 600;
   font-size: 1em;
   font-family: 'Quicksand', sans-serif;
   line-height: 30px;
   width: 80%;
   margin: 40px auto 60px auto;

}

.main .acerca_de .texto .titulo{
  font-size: 70px;
  line-height: 34px;
  font-family: 'Pacifico', cursive;
  margin-bottom: 40px;
  font-weight: 600;
  color: #306881;
  text-align: center;
}
.main .acerca_de .texto .bold{
  font-family: 'Quicksand', sans-serif;
  color: #3895ea;
}

/* imagenes*/
.main .trabajos{

  background-color: white;
  padding: 60px,0px;
}

.main .trabajos .contenedor{
  /* display: flex; */
  overflow: hidden;
  margin-bottom: 3rem;
}

.main .trabajos .titulo{
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
  color: #306881;
  text-align: center;

}

.main .trabajos .contenedor_trabajos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.main .trabajos .contenedor_trabajos .trabajo{
  width: 30%;
  margin-bottom: 40px;
}
.main .trabajos .contenedor_trabajos .trabajo .thumd{
  width: 100%;
  margin-bottom: 10px;
}
.main .trabajos .contenedor_trabajos .trabajo .thumb img
{
     width: 100%;
     height: 13rem;
     border-radius: 3%;
     vertical-align: top;
     margin-bottom: 2rem;
     -webkit-box-shadow: 21px 29px 27px -22px rgba(0,0,0,1);
     -moz-box-shadow: 21px 29px 27px -22px rgba(0,0,0,1);
     box-shadow: 21px 29px 27px -22px rgba(0,0,0,1);
}

.main .trabajos .contenedor_trabajos .trabajo
{
  text-align: center;
}

.main .trabajos .contenedor_trabajos .trabajo .nombre{
  color: #3895ea;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
}
.main .trabajos .contenedor_trabajos .trabajo .categoria{

  font-weight: 300;
  font-size: 14px;
  color: rgb(202, 198, 198);
}

/*footer*/
footer .redes_sociales{
  background: #1e2b28;
  padding: 60px 0;
}
footer .redes_sociales .contenedor{
  display: flex;
  justify-content: space-around;
}
footer .redes_sociales a{
      color: white;
      text-align: center;
      width: 300px;
      font-family: 'Quicksand', sans-serif;
      display: block;
      padding: 15px, 0;
      border-radius: 10%;
      font-size: 20px;
      color: white;
      margin: 0px 20px;
  }
  footer .redes_sociales .facebook:hover{background:#306881 ;}
  footer .redes_sociales .github:hover{background: #306881;}
  footer .redes_sociales .linkedin:hover{background: #306881;}

  /* Responsive*/
  @media screen and (max-width: 800px)
  {
      header .menu{
          text-align: center;
      }

  .main .trabajos .contenedor_trabajos .trabajo{
      width: 46%;
  }
  .main .acerca_de .foto .img{
      width: 150px;
      height: 150px;
  }
  .fila{
      flex-direction: column;
      justify-content: center;
  }
  #misTurnos{
      margin: 0rem;
  }
  #turnos{
      margin: 0rem;
  }
  }

  @media screen and (max-width: 500px)
  {
  header .contenedor_texto .texto .nombre
  {
      font-size: 35px;
  }
  header .contenedor_texto .texto .profesion{
  font-size: 18px;
  }
  .main .trabajos .contenedor_trabajos .trabajo{
      width: 80%;
      align-content: center;
      margin-left: 3rem;
  }
  }

  .box {
    display: flex;
}

.push {
    margin-left: auto;
}

p{
  font-size: 30px;
        line-height: 34px;
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 40px;
        font-weight: 400;
        color: black;
        text-align: center;
}

