<mat-toolbar class="expanded-toolbar">
  </mat-toolbar>
 
<div class="buscador">
  <input  class="form-control mr-sm-2 block" [(ngModel)]="escribir"  placeholder="Buscar" type="text" name="" id="">
</div>
 <br>
 <mat-form-field style="margin-left: 2rem;" *ngIf="fitroSeleccionado == 'Adicionales'  && fitroSeleccionado != undefined " >
  <input matInput placeholder="descripcion" value="adicional" type="text" [(ngModel)]="adicional" >
</mat-form-field>
<mat-form-field style="margin-left: 2rem;" *ngIf="fitroSeleccionado == 'Adicionales'  && fitroSeleccionado != undefined " >
  <input matInput placeholder="filtro" value="filtro" type="text" [(ngModel)]="escribir" >
</mat-form-field>

 <mat-form-field  *ngIf="fitroSeleccionado == 'Dia'" style="width: 40%; margin-left: 2rem;" class="full-width-input">
      <mat-label style="color: #306881;">Seleccione un Día</mat-label>
    <mat-select  name="tipo" [(ngModel)]="escribir">

    <mat-option *ngFor="let item of dias" value="{{item}}">{{item}}</mat-option>

    </mat-select>
</mat-form-field>

  <div class="div1">
    
    <table class="table table-hover table-bordered animated fadeIn faster ld ld-slide-ttb-in">
        <thead>
          <tr class="bg-primary" style="color: white;background-color: #306881;">
            <th>Foto</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>Fecha de Turno</th>
            <th>Hora</th>
            <th>Profesional</th>
            <th>Estado</th>
            <!-- <th>Comentario</th> -->
            <th >Acciones</th>
          </tr>
        </thead>
        <tbody >
        
          <!-- <tr *ngFor="let turno of listado |filtro:fitroSeleccionado :escribir:adicional" > -->
          <tr *ngFor="let turno of listado |busqueda:escribir" >

            <td> <img [src]="turno.paciente.img1" alt="" width="100" height="100"></td>
            <td>{{turno.paciente.nombre}} </td>
            <td>{{turno.paciente.apellido}} </td>
            <td>{{turno.especialidad}} </td>
            <td>{{turno.fecha |fecha}} </td>
            <td>{{turno.hora}} </td>
            <td>{{turno.profesional.apellido}} </td>
            <td>{{turno.estado|estadoTurno}}  </td>
            <!-- <td>{{turno.comentario}} </td> -->
            <td>
              <button (click)="tomarTurno(turno)" class="btn btn-primary" style="margin-right: 1rem;background: #306881;">info</button>
              <button *ngIf="usuario.rol == 'paciente' && turno.estado < 2" (click)="cancelar(turno)" class="btn btn-danger" style="margin-right: 1rem;">Cancelar</button>
              <button *ngIf="usuario.rol == 'profesional' && turno.estado == 0" (click)="aceptar(turno)" class="btn btn-success" style="margin-right: 1rem;">Aceptar</button>
              <button  *ngIf="usuario.rol == 'profesional'  && turno.estado == 0" class="btn btn-danger" (click)="rechazar(turno)" >Rechazar</button>
              <button *ngIf="usuario.rol == 'profesional' && turno.estado == 1 " class="btn btn-danger" (click)="cancelar(turno)" class="btn btn-danger" style="margin-right: 1rem;">Cancelar</button>
            </td>
          </tr>     
        
        </tbody>
      </table>
      
    </div>
    <!-- <app-turno-detalle [user]="usuario" [turno]="turnoSeleccionado"(eventoMostrarModal)="mostrarEncuesta($event)"></app-turno-detalle> -->
    <app-modal-turno [cancelar]="cancelarPro" [rechazar]="rechazarPro" [user]="usuario" [turno]="turnoSeleccionado"[mostrar]="mostrarModal" (eventoMostrarModal)="mostrarEncuesta($event)" (eventoJustifacion)="justificacion($event)"></app-modal-turno>
   <app-modal-turno-detalle [turno]="turnoSeleccionado" [user]="usuario" [mostrar]="mostrarModalDetalle"(eventoMostrarModal)="cerrarModalDetalle($event)"(eventoMostrarEncuesta)="mostrarEncuesta($event)"></app-modal-turno-detalle>
