<div *ngIf="mostrar"  id="id01" class="modal ">
    <form class="modal-content animate ld ld-zoom-in" >
      <span (click)="cerrar()" class="close" title="Close Modal">×</span>
      <div *ngIf="!cancelar && !rechazar" style="margin-top: 3rem;" class="container">
        
        <mat-form-field *ngIf="user.rol == 'paciente'" style="width: 100%; " class="full-width-input">
          <mat-label style="color: #306881;">Califique el servicio de 1 a 5</mat-label>
          <mat-select  (change)="cargarDatos()" [(ngModel)]="turno.calificacionPaciente" [ngModelOptions]="{standalone: true}" > 
              
            <mat-option *ngFor="let item of calificaciones"  [value]="item"><strong style="color: orange;">{{item|calificacion}}</strong></mat-option>
            
            
          </mat-select>
          
       </mat-form-field>  
       <mat-form-field  *ngIf="user.rol == 'profesional'" style="width: 100%; " class="full-width-input">
        <mat-label style="color: #306881;"> Calificar al paciente de 1 a 5</mat-label>
        <mat-select   [(ngModel)]="turno.calificacionProfesional" [ngModelOptions]="{standalone: true}" > 
            
          <mat-option *ngFor="let item of calificaciones"  [value]="item"><strong style="color: orange;">{{item|calificacion}}</strong></mat-option>
          
          
        </mat-select>
        
     </mat-form-field> 

     <!-- <mat-form-field  style="width: 100%;" appearance="fill">
      <mat-label *ngIf="user.rol == 'profesional'">Edad del Paciente</mat-label>
      <input *ngIf="user.rol == 'profesional'" [(ngModel)]="edad" matInput type="text" [ngModelOptions]="{standalone: true}"></input>
      
    </mat-form-field> --> 

    <mat-form-field style="width: 100%; " *ngIf="user.rol == 'profesional'">
     <mat-label style="color: #306881;">Temperatura del Paciente</mat-label>
      <input [(ngModel)]="temperatura" matInput placeholder="Temperatura" type="number" value="hola" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

     <mat-form-field style="width: 100%; " *ngIf="user.rol == 'profesional'">
      <mat-label style="color: #306881;">Edad del Paciente</mat-label>
       <input [(ngModel)]="edad" matInput placeholder="edad" type="number" value="value" [ngModelOptions]="{standalone: true}">
     </mat-form-field>

     <mat-form-field style="width: 100%; " *ngIf="user.rol == 'profesional'">
      <mat-label style="color: #306881;">Presión del Paciente</mat-label>
       <input [(ngModel)]="presion" matInput placeholder="Presión" type="number" value="chau" [ngModelOptions]="{standalone: true}">
     </mat-form-field>  


     <div style="margin-left: 0.8rem;" id="extras" *ngFor="let nuevoItem of listaDinamicos" class="row">
      <mat-form-field style="width: 40%; " *ngIf="user.rol == 'profesional'">
        <mat-label style="color: #306881;">Dato Agregado</mat-label>
         <input [(ngModel)]="nuevoItem.propiedad" matInput  type="text" value="chau" [ngModelOptions]="{standalone: true}">
       </mat-form-field> 
       <mat-form-field style="width: 40%; margin-left: 5%; " *ngIf="user.rol == 'profesional'">
        <mat-label style="color: #306881;">Valor dato</mat-label>
         <input [(ngModel)]="nuevoItem.valor" matInput  type="text" value="chau" [ngModelOptions]="{standalone: true}">
       </mat-form-field> 
      <!-- <input type="text" class="form-control col-md-3"  [(ngModel)]="nuevoItem.propiedad" >
      <input type="text" class="form-control col-md-6"  [(ngModel)]="nuevoItem.valor" >         -->
    </div>
 

       <mat-form-field  style="width: 100%;" appearance="fill">
        <mat-label>Dejanos tu comentario</mat-label>
        <textarea *ngIf="user.rol == 'paciente'"  [(ngModel)]="turno.opinionPaciente" matInput [ngModelOptions]="{standalone: true}"></textarea>
        <textarea *ngIf="user.rol == 'profesional'"  [(ngModel)]="turno.opinionProfesional" matInput [ngModelOptions]="{standalone: true}"></textarea>
        
      </mat-form-field>


   
      <button *ngIf="user.rol == 'profesional'" class="btn btn-success"  (click)="onAgregarDatos()" style="margin-left: 20px;">+ Datos</button>
        <div class="clearfix row" style="justify-content: center;">
          <button  (click)="Enviar()"  type="submit" class="btn-success btn-lg boton " onclick="this.blur();">Enviar Respuesta</button>
        </div>
      </div>


      <div *ngIf="cancelar || rechazar" style="margin-top: 3rem;" class="container">
           
        <mat-form-field  style="width: 100%;" appearance="fill">
        <mat-label>Dejananos tu justificación</mat-label>
        <textarea *ngIf="user.rol == 'profesional'"  [(ngModel)]="turno.comentario" matInput [ngModelOptions]="{standalone: true}"></textarea>
        
      </mat-form-field>

   

        <div class="clearfix row" style="justify-content: center;">
          <button  (click)="Enviar()"  type="submit" class="btn-success btn-lg boton " onclick="this.blur();">Enviar Respuesta</button>
        </div>
      </div>
    </form>
  </div>
