<div style="position: relative; z-index: 10; float: left;">
  <nav style="background-color: #306881; width: 100%; position:fixed; overflow: hidden;top:0">
    <a routerLink="/Bienvenido"><i class="fa fa-home"></i></a>
    <div class="box">
      <mat-toolbar style="background-color: #306881; color: white;" class="expanded-toolbar">
        <img style="height: 3rem; width: 2rem; border-radius: 100%; margin-right: 2rem;" src="../../../assets/login.png"
          alt="">
        <span></span>
        <div>
          <a mat-button [routerLink]="['./']">
            <h1>Home</h1>
          </a>
        </div>
        <div>
          <a mat-button *ngIf="rol != 'paciente' && rol != 'profesional'" [routerLink]="'altaAdmin'">
            <h1>Alta Admin</h1>
          </a>
        </div>
        <div>
          <a mat-button *ngIf="rol != 'paciente' && rol != 'profesional'" [routerLink]="'usuarios'">
            <h1>Usuarios</h1>
          </a>
        </div>
        <div>
          <a mat-button *ngIf="rol == 'profesional'" [routerLink]="'pacientes'">
            <h1>Pacientes</h1>
          </a>
        </div>
        <div>
          <a mat-button *ngIf="rol == 'admin'" [routerLink]="'estadisticas'">
            <h1>Estadisticas</h1>
          </a>
        </div>
        <div>
          <a mat-button [routerLink]="'miperfil'">
            <h1>Mi Perfil</h1>
          </a>
        </div>
        <div class="push">
          <a mat-button (click)="logOut()">Cerrar Sesion</a>
        </div>
      </mat-toolbar>
    </div>
  </nav>
</div>
